@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  align-items: center;
}

.centre-align {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.color-white {
  color: #fff;
}

.fw-400 {
  font-weight: 400;
}

.custom-border {
  border-image: linear-gradient(to right, #0a0e6a, #02b86b) 50;
  border-top-width: 4px;
  border-style: solid;
}

button:active {
  transform: scale(0.99);
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px rgb(181, 181, 181);
}

.notification {
  position: absolute;
  right: 0;
  transform: translateX(150%);
}
